# From Jessie Frazelle
# https://github.com/jessfraz/dotfiles/blob/master/.aliases

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"



# End copy

alias ll='ls -FGlAhp'

alias mvnc='mvn clean verify cobertura:cobertura'

# dvm https://github.com/getcarina/dvm
alias dvm-init='[[ -s "$(brew --prefix dvm)/dvm.sh" ]] && source "$(brew --prefix dvm)/dvm.sh"'

alias dc=/usr/local/bin/docker-compose
alias dps='docker ps'
alias dm=docker-machine
alias flushdns='sudo killall -HUP mDNSResponder'
alias params='echo $@'

# login to the docker machine XHyve VM
alias docker-login='screen ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/tty'

gitchanged() {
  PARAMS=$@
  git diff $PARAMS | awk -F'\n' 'BEGIN { ADD=DEL=0; } { if (match($0, "^-")) { DEL++; } else if (match($0, "^[+]")) { ADD++; } } END {print ADD " additions, " DEL " deletions, " (ADD - DEL) " net"}'
}

clearws() {
  sed -E -i.wsbak -e's/[[:space:]]*$//' "$1"
}


